<ion-header>
  <ion-toolbar [color]="gameColor">
    <ion-title>Formulario de Contenido <br>// Banner:</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" (click)="cancel()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mr-2 ml-2 mt-4">

    <form [formGroup]="bannerForm" (ngSubmit)="bannerSubmit()">

      <ion-item class="form-class">
        <ion-input type="text" text-wrap placeholder="Nombre del Contenido//Banner" formControlName="name">
        </ion-input>
      </ion-item>

      <ion-item class="supersize">
        <ion-label>Fecha de Fin:</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Confirmar" formControlName="end_date">
        </ion-datetime>
      </ion-item>

      <ion-card>

        <ion-select wrap-text interface="popover" formControlName="color" placeholder="Elija un color de tarjeta ...">
          <ion-select-option class="supersize" value="primary">- Azul</ion-select-option>
          <ion-select-option class="supersize" value="success">- Verde</ion-select-option>
          <ion-select-option class="supersize" value="warning">- Amarillo</ion-select-option>
          <ion-select-option class="supersize" value="orange">- Naranja</ion-select-option>
          <ion-select-option class="supersize" value="light">- Claro</ion-select-option>
          <ion-select-option class="supersize" value="medium">- Oscuro</ion-select-option>
          <ion-select-option class="supersize" value="danger">- Rojo</ion-select-option>
        </ion-select>
      </ion-card>

      <ion-row class="mt-3">
        <ion-col size="6">
          <ion-button expand="full" color="danger" (click)="cancel()">Cancelar</ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button expand="full" color="primary" type="submit" [disabled]="!bannerForm.valid">
            Enviar</ion-button>
        </ion-col>

      </ion-row>
    </form>
  </ion-card>
</ion-content>